# App secret
AUTH_SECRET=

# Google auth.
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Neon
DATABASE_URL=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
GEMINI_EMBED_MODEL=text-embedding-004

# Google Cloud Storage
GOOGLE_CLOUD_KEY_JSON='{}'
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_BUCKET_NAME=

# App
APP_PROFILE_PIC_DIR=profile-images
APP_PROFILE_PIC_WITH=352
APP_PROFILE_PIC_HEIGHT=576

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_ID=