# App secret
AUTH_SECRET=[ADD IT]

# Google auth.
AUTH_GOOGLE_ID=[ADD IT]
AUTH_GOOGLE_SECRET=[ADD IT]

# Neon
DATABASE_URL=[ADD IT]

# Gemini
GEMINI_API_KEY=[ADD IT]
GEMINI_MODEL=gemini-2.0-flash
GEMINI_EMBED_MODEL=text-embedding-004